.moduloCentral {
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: #eee;
}

.moduloCentral__titulo {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: yellow;
}

.moduloCentral__contenido {
  flex-grow: 3;

  display: flex;
  justify-content: space-between;
  padding: 20px 5%;

  background-color: red;
}

.moduloCentral__contenido__und01 {
  display: flex;
  flex-direction: column;

  background-color: orange;
}

.moduloCentral__contenido__und01__encabezado {
  flex-grow: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.moduloCentral__contenido__und01__texto {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 5%;
}
.moduloCentral__contenido__und01__imagen {
  flex-grow: 1;
  height: 100px;
  background-color: red;
  background: url(https://okdiario.com/img/2018/08/27/limpiar-el-cesped-artificial-655x368.jpg); 
}


.moduloCentral__contenido__und01__pie {
  flex-grow: 0.2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.moduloCentral__boton {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: green;
}
